AIGuide.css

.ai-header {
  background: #eaf1ff;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  color: #4b6cb7;
}

.chat-content {
  --background: #f5f7fb;
  display: flex;
  flex-direction: column;
}

.chat-area {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
  gap: 8px;
}

.message-container.user {
  justify-content: flex-end;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.bubble {
  max-width: 75%;
  padding: 12px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-line;
}

.bubble.ai {
  background: #ffffff;
  border-top-left-radius: 6px;
}

.bubble.user {
  background: #2563eb;
  color: white;
  border-top-right-radius: 6px;
}

.suggestions {
  background: #dbeafe;
  padding: 12px;
  border-radius: 12px;
}

.suggest-title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.suggestions button {
  width: 100%;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 13px;
}

.typing span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  background: #999;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

.input-area {
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
  
}

.input-area input {
  flex: 1;
  border: none;
  background: #f1f5f9;
  border-radius: 20px;
  padding: 10px 14px;
  margin: 0 8px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #2563eb;
}

.send-btn {
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
